.ScrollBoxHeader {
  .title {
    @include font(24px, 600);
    margin-bottom: 13px;
  }

  .columns {
    @include flex;
    @include font(18px, 600);
    height: 60px;
    border-top: 1px solid #909090;
    border-bottom: 2px solid $mainColor;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    & > * {
      @include flex;
      flex: 1;
    }
  }
}
