$athens: #f8f8fa; // background 1
$mercury: #dfe2e8; // divider
$tuna: #35363a; // text 1
$athensGray: #fbfbfc; // background 2
$regentGray: #8b94a0; // text 2
$mandy: #fc5b5e;
$heliotrope: #9381ff;
$patternsBlue: #d9f1fe;
$halfColonial: #fdf2d0;
$seashell: #f1f1f1;
$romance: #c2f5d4;
$yourPink: #ffbebf;
